{
    "module": {
        "type": "commonjs"
    },
    "jsc": {
        "target": "es2017",
        "parser": {
            "syntax": "typescript",
            "dynamicImport": true
        }
    }
}